/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff; }

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333; }

body {
  height: 100%;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h1 {
  font-size: 27.796px;
  font-family: "Anton", sans-serif;
  margin: 30px 0px;
  line-height: 1.333;
  -moz-transform: scale(1.001, 1);
  -webkit-transform: scale(1.001, 1);
  -ms-transform: scale(1.001, 1);
  text-transform: uppercase; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%; }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

/* Padding for spacing */
.inner {
  padding: 30px; }

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px; }

.masthead-nav > li {
  display: inline-block; }

.masthead-nav > li + li {
  margin-left: 20px; }

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent; }

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25); }

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff; }

@media (min-width: 768px) {
  .masthead-brand {
    float: left; }

  .masthead-nav {
    float: right; } }
/*
 * Cover
 */
.cover {
  padding: 0 20px; }
  .cover p.lead {
    font-size: 14px;
    padding: 0px 14%; }

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold; }

/*
 * Footer
 */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5); }

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0; }

  .mastfoot {
    position: fixed;
    bottom: 0; }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle; }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */ } }
.site-wrapper.cover {
  height: 100%;
  color: #fff;
  text-align: center;
  background: url("../images/front_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .site-wrapper.cover .cover-container .hotel h1, .site-wrapper.cover .cover-container .hostel h1 {
    margin-bottom: 10px; }
  .site-wrapper.cover .cover-container .hotel img.hotel, .site-wrapper.cover .cover-container .hotel img.hostel, .site-wrapper.cover .cover-container .hostel img.hotel, .site-wrapper.cover .cover-container .hostel img.hostel {
    margin-bottom: 30px;
    border: 3px solid #fff; }
  .site-wrapper.cover .cover-container .hotel:hover, .site-wrapper.cover .cover-container .hostel:hover {
    cursor: pointer; }
  .site-wrapper.cover .cover-container .hotel.hotel:hover img.hotel, .site-wrapper.cover .cover-container .hostel.hotel:hover img.hotel {
    border: 3px solid #57579d; }
  .site-wrapper.cover .cover-container .hotel.hotel:hover h1, .site-wrapper.cover .cover-container .hostel.hotel:hover h1 {
    color: #57579d; }
  .site-wrapper.cover .cover-container .hotel.hostel:hover img.hostel, .site-wrapper.cover .cover-container .hostel.hostel:hover img.hostel {
    border: 3px solid #eba03b; }
  .site-wrapper.cover .cover-container .hotel.hostel:hover h1, .site-wrapper.cover .cover-container .hostel.hostel:hover h1 {
    color: #eba03b; }
  .site-wrapper.cover .cover-container .hotel p, .site-wrapper.cover .cover-container .hostel p {
    margin-top: 10px;
    padding: 0px 20%; }

.rooms {
  text-shadow: none;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif; }
  .rooms .navbar {
    margin-bottom: 0px; }
    .rooms .navbar .navbar-nav {
      display: table;
      float: none;
      vertical-align: top;
      width: 100%;
      margin: 0; }
      .rooms .navbar .navbar-nav .nav-item {
        text-shadow: none;
        float: none;
        display: table-cell;
        text-align: center; }
        .rooms .navbar .navbar-nav .nav-item .nav-link {
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          line-height: 2.2;
          font-size: 14px;
          color: #8a8a8a; }
          .rooms .navbar .navbar-nav .nav-item .nav-link:hover {
            color: #57579d; }
        .rooms .navbar .navbar-nav .nav-item .head-logo {
          font-size: 36px;
          font-family: "Anton" , sans-serif;
          vertical-align: middle;
          color: #57579d; }
          .rooms .navbar .navbar-nav .nav-item .head-logo:hover {
            text-decoration: none; }
  .rooms .container-fluid {
    background-color: white; }
    .rooms .container-fluid.booking-btn {
      padding: 0px;
      border-bottom: 11px solid #57579d; }
    .rooms .container-fluid .btn-booking {
      cursor: pointer;
      background-color: #57579d;
      -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
      color: white;
      font-size: 24px;
      font-weight: bold;
      line-height: 67px;
      width: 160px;
      height: 67px;
      margin: 0 auto;
      position: relative;
      top: -39px; }
    .rooms .container-fluid .view-photos {
      font-size: 14px;
      font-weight: bold;
      color: #666666;
      margin: 30px 0px;
      text-transform: uppercase; }
    .rooms .container-fluid .hotel-gallery {
      margin-top: 30px;
      margin-bottom: 30px; }
      .rooms .container-fluid .hotel-gallery .col-md-6.rooms {
        padding: 0; }
      .rooms .container-fluid .hotel-gallery .gallery-list {
        padding-top: 60px; }
        .rooms .container-fluid .hotel-gallery .gallery-list h2 {
          font-size: 23px;
          font-weight: bold;
          margin-bottom: 45px; }
        .rooms .container-fluid .hotel-gallery .gallery-list .photos-list {
          width: 389px;
          height: 347px;
          margin: 0 auto;
          overflow: auto; }
          .rooms .container-fluid .hotel-gallery .gallery-list .photos-list .item {
            width: 100%;
            height: 112px;
            float: left;
            overflow: hidden;
            cursor: pointer;
            margin-bottom: 10px; }
            .rooms .container-fluid .hotel-gallery .gallery-list .photos-list .item:last-child {
              margin-bottom: 0px; }
            .rooms .container-fluid .hotel-gallery .gallery-list .photos-list .item span {
              font-size: 12px;
              font-weight: bold;
              line-height: 112px;
              float: left;
              margin-left: 20px;
              color: #666666; }
            .rooms .container-fluid .hotel-gallery .gallery-list .photos-list .item:hover {
              background-color: #f4f4f4;
              -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2); }
  .rooms .more-videos {
    background-color: #f4f4f4; }
    .rooms .more-videos .container {
      position: relative;
      z-index: 999;
      background-color: white;
      padding: 30px 0px;
      -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
      margin: 0 auto; }
      .rooms .more-videos .container .view-text {
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        margin: 30px 0px;
        text-transform: uppercase; }
      .rooms .more-videos .container #myVideos {
        margin: 0 auto;
        margin-top: 30px;
        width: 900px; }
  .rooms .room-gallery {
    padding-top: 30px; }
    .rooms .room-gallery .view-text {
      font-size: 14px;
      font-weight: bold;
      color: #666666;
      margin: 30px 0px;
      text-transform: uppercase; }
    .rooms .room-gallery img {
      opacity: 0.9;
      -webkit-box-shadow: inset 0px 0px 199px 1px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: inset 0px 0px 199px 1px rgba(0, 0, 0, 0.13);
      box-shadow: inset 0px 0px 199px 1px rgba(0, 0, 0, 0.13); }
    .rooms .room-gallery .p-rooms {
      font-size: 14px;
      padding: 30px 30%;
      font-weight: normal;
      line-height: 1.5;
      color: #666666; }
    .rooms .room-gallery .row .rooms-info {
      background-color: #57579d;
      font-size: 16px;
      font-weight: bold;
      color: white;
      width: 100%;
      height: 150px;
      padding: 30px;
      margin-bottom: 30px; }
      .rooms .room-gallery .row .rooms-info .p-info {
        height: 60px;
        text-transform: uppercase; }
    .rooms .room-gallery .row .currency {
      margin: 0 auto;
      padding-top: 10px;
      width: 120px;
      color: white;
      font-size: 24px;
      font-weight: bold;
      border-top: 1px solid white; }
    .rooms .room-gallery .col-md-3:hover img {
      opacity: 1; }
    .rooms .room-gallery .col-md-3:hover .rooms-info {
      background-color: #f4f4f4;
      color: #57579d; }
    .rooms .room-gallery .col-md-3:hover .currency {
      color: #57579d;
      border-top: 1px solid #57579d; }
  .rooms .history {
    border-bottom: 11px solid #57579d; }
    .rooms .history .head-history {
      font-size: 20px;
      line-height: 1.5;
      font-weight: bold;
      color: #57579d;
      margin: 30px 0px 60px 0px; }
    .rooms .history .container {
      background-color: #f4f4f4;
      padding: 55px 200px; }
      .rooms .history .container .view-text {
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        margin: 30px 0px;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 20px; }
      .rooms .history .container p {
        font-size: 14px;
        line-height: 1.4;
        font-weight: normal;
        color: #666666;
        margin: 30px 0px; }
      .rooms .history .container p:last-child {
        margin: 20px 0px; }
  .rooms .wide {
    padding: 0; }
  .rooms .restaurant {
    padding: 60px; }
    .rooms .restaurant .view-text {
      font-size: 14px;
      font-weight: bold;
      color: #666666;
      margin: 30px 0px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: normal; }
    .rooms .restaurant p {
      margin: 0 auto;
      width: 300px;
      font-size: 14px;
      font-weight: normal;
      color: #666666;
      line-height: 1.4;
      text-align: left; }
    .rooms .restaurant .sprite {
      width: 122px;
      height: 122px;
      background-image: url("../images/restaurant_sprite.png");
      margin-bottom: 45px; }
      .rooms .restaurant .sprite.first {
        background-position: 0px 0px; }
      .rooms .restaurant .sprite.second {
        background-position: -186px 0px; }
      .rooms .restaurant .sprite.third {
        background-position: -371px 0px; }
      .rooms .restaurant .sprite.fourth {
        background-position: 0px -162px; }
      .rooms .restaurant .sprite.fifth {
        background-position: -186px -162px; }
      .rooms .restaurant .sprite.sixth {
        background-position: -371px -162px; }
  .rooms .tourists {
    background-color: #f4f4f4;
    padding: 50px 0px;
    padding-bottom: 0px; }
    .rooms .tourists .view-text {
      font-size: 14px;
      font-weight: bold;
      color: #666666;
      margin: 30px 0px;
      text-transform: uppercase;
      font-size: 23px;
      font-weight: normal;
      color: #5d5d5d; }
    .rooms .tourists .p-tourists {
      padding: 30px 0px;
      width: 440px;
      margin: 0 auto;
      font-size: 14px;
      font-weight: normal;
      color: #666666; }
  .rooms .location {
    background-color: white;
    padding: 50px 0px; }
    .rooms .location .view-text {
      font-size: 14px;
      font-weight: bold;
      color: #666666;
      margin: 30px 0px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: normal; }
    .rooms .location p {
      width: 330px;
      margin: 0 auto;
      margin-top: 40px;
      font-size: 14px;
      line-height: 1.4;
      font-weight: normal;
      text-align: left;
      color: #666666; }
  .rooms .map {
    height: 280px;
    padding: 0px !important; }
    .rooms .map iframe {
      width: 100%;
      height: 280px; }
  .rooms .footer {
    height: 190px;
    background-color: #57579d; }
    .rooms .footer .footer-arrow {
      position: relative;
      top: -32px;
      cursor: pointer; }
    .rooms .footer .container {
      font-size: 11px;
      font-weight: normal;
      color: white;
      line-height: 2;
      text-align: left; }
      .rooms .footer .container a:hover {
        text-decoration: none; }
      .rooms .footer .container .fa {
        float: right;
        margin-right: 20px; }
      .rooms .footer .container .list {
        border-right: 1px solid white;
        padding-right: 0px; }
        .rooms .footer .container .list a {
          width: 100%;
          float: left; }

.todo {
  background-color: white;
  text-shadow: none; }
  .todo h1 {
    font-size: 26px;
    font-weight: bold;
    color: #57579d;
    text-align: left;
    margin-top: 70px; }
  .todo img {
    margin-bottom: 25px; }
  .todo p {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #666666;
    margin: 10px 0px; }
  .todo .navbar {
    margin-bottom: 0px; }
    .todo .navbar .navbar-nav {
      display: table;
      float: none;
      vertical-align: top;
      width: 100%;
      margin: 0; }
      .todo .navbar .navbar-nav .nav-item {
        text-shadow: none;
        float: none;
        display: table-cell;
        text-align: center; }
        .todo .navbar .navbar-nav .nav-item .nav-link {
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          line-height: 2.2;
          font-size: 14px;
          color: #8a8a8a; }
          .todo .navbar .navbar-nav .nav-item .nav-link:hover {
            color: #57579d; }
        .todo .navbar .navbar-nav .nav-item .head-logo {
          font-size: 36px;
          font-family: "Anton" , sans-serif;
          vertical-align: middle;
          color: #57579d; }
          .todo .navbar .navbar-nav .nav-item .head-logo:hover {
            text-decoration: none; }
  .todo .container-fluid {
    background-color: white;
    border-top: 11px solid #57579d; }
  .todo .footer {
    height: 190px;
    background-color: #57579d; }
    .todo .footer .footer-arrow {
      position: relative;
      top: -32px;
      cursor: pointer; }
    .todo .footer .container {
      font-size: 11px;
      font-weight: normal;
      color: white;
      line-height: 2;
      text-align: left; }
      .todo .footer .container a:hover {
        text-decoration: none; }
      .todo .footer .container .fa {
        float: right;
        margin-right: 20px; }
      .todo .footer .container .list {
        border-right: 1px solid white;
        padding-right: 0px; }
        .todo .footer .container .list a {
          width: 100%;
          float: left; }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background-color: #e3e3e3;
  border-radius: 15px; }

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #57579d; }

/*# sourceMappingURL=style.css.map */
