// VARIABLES
$color-hotel: #57579d;
$color-hostel: #eba03b;
$grey: #8a8a8a;

// !VARIABLES

// MIXINS

@mixin view-text {
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        margin: 30px 0px;
        text-transform: uppercase;
}

@mixin navbar {
    margin-bottom: 0px;
        .navbar-nav {
            display: table;
            float: none;
            vertical-align: top;
            width: 100%;
            margin: 0;
            .nav-item { 
                text-shadow: none;   
                float: none;
                display: table-cell;
                text-align: center;
                .nav-link {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: bold;
                    line-height: 2.2;
                    font-size: 14px;
                    color: $grey;
                    &:hover {
                        color: $color-hotel;
                    }
                }            
                .head-logo {
                    font-size: 36px;
                    font-family: "Anton" , sans-serif;
                    vertical-align: middle;
                    color: $color-hotel;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
}

@mixin footer {
    height: 190px;
    background-color: $color-hotel;
    .footer-arrow {
        position: relative;
        top: -32px;
        cursor: pointer;
    }

    .container {
        font-size: 11px;
        font-weight: normal;
        color: white;
        line-height: 2;
        text-align: left;
        a:hover {
            text-decoration: none;
        }
        .fa {
            float: right;
            margin-right: 20px;
            
        }
        .list {
            border-right: 1px solid white;
            padding-right: 0px;
            a {
                width: 100%;
                float: left;
            }
        }
        }
}

// !MIXINS

// stylish input

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

// !stylish input

// bootstrap overrides

.btn-primary {
    background-color: $color-hotel;
    border-radius: 0px;
    width: 100px;
}
.btn-primary:hover {
    background-color: $color-hotel;
}