// VARIABLES
$color-hotel: #57579d;
$color-hostel: #eba03b;
$grey: #8a8a8a;

// !VARIABLES

// MIXINS

@mixin view-text {
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        margin: 30px 0px;
        text-transform: uppercase;
}

// !MIXINS
