.rooms {
    text-shadow: none;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    .navbar {
        margin-bottom: 0px;
        .navbar-nav {
            display: table;
            float: none;
            vertical-align: top;
            width: 100%;
            margin: 0;
            .nav-item { 
                text-shadow: none;   
                float: none;
                display: table-cell;
                text-align: center;
                .nav-link {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-weight: bold;
                    line-height: 2.2;
                    font-size: 14px;
                    color: $grey;
                    &:hover {
                        color: $color-hotel;
                    }
                }            
                .head-logo {
                    font-size: 36px;
                    font-family: "Anton" , sans-serif;
                    vertical-align: middle;
                    color: $color-hotel;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }    

    .navbar .navbar-collapse {
        text-align: center;
    }

    @media (min-width: 768px) {
    
    }

    .container-fluid {
        background-color: white;
        &.booking-btn {
            padding: 0px;
            border-bottom: 11px solid $color-hotel;

            
        }

        .btn-booking {
                cursor: pointer;
                background-color: $color-hotel;
                -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
                color: white;
                font-size: 24px;
                font-weight: bold;
                line-height: 67px;
                width: 160px;
                height: 67px;
                margin: 0 auto;
                position: relative;
                top: -39px;
        }
        // .hotel-sprite {
        //     li {
        //         background-image: url("../images/hotel_sprite.png");
        //         display: inline-flex;
        //         width: 20%;
        //         height: 55px;
        //         &.bed {
        //             background-position: 0px 0px;
        //         }
        //         &.dinner {
        //             background-position: 0px 0px;
        //         }
        //         &.wifi {
        //             background-position: 0px 0px;
        //         }
        //         &.drink {
        //             background-position: 0px 0px;
        //         }
        //         &.parking {
        //             background-position: 0px 0px;
        //         }
        //     }
        // }

        .view-photos {
            @include view-text;
        }

        .hotel-gallery {
            margin-top: 30px;
            margin-bottom: 30px;
            .col-md-6.rooms {
                padding: 0;
            }
            .gallery-list {
                padding-top: 60px;
                h2 {
                    font-size: 23px;
                    font-weight: bold;
                    margin-bottom: 45px;
                }
                .photos-list {
                    width: 389px;
                    height: 347px;
                    margin: 0 auto;
                    overflow: auto;                    

                    .item {
                        width: 100%;
                        height: 112px;
                        float: left;
                        overflow: hidden;
                        cursor: pointer;
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        span {
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 112px;
                            float: left;
                            margin-left: 20px;
                            color: #666666;
                        }
                        &:hover {
                            background-color: #f4f4f4;
                            -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
                            -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
                            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
                        }
                    }
                }
            }
        }
    }

.more-videos {
    background-color: #f4f4f4;
    .container {
        position: relative;
        z-index: 999;
        .view-text {
            @include view-text;
        }
        background-color: white;
        padding: 30px 0px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
        margin: 0 auto;
        #myVideos {
            margin: 0 auto;
            margin-top: 30px;
            width: 900px;
        }
    }
}
.room-gallery {
    padding-top: 30px;
    .view-text {
        @include view-text;
    }
    img {
        opacity: 0.9;
        -webkit-box-shadow: inset 0px 0px 199px 1px rgba(0,0,0,0.13);
        -moz-box-shadow: inset 0px 0px 199px 1px rgba(0,0,0,0.13);
        box-shadow: inset 0px 0px 199px 1px rgba(0,0,0,0.13);
    }
    .p-rooms {
        font-size: 14px;
        padding: 30px 30%;
        font-weight: normal;
        line-height: 1.5;
        color: #666666;
    }
    .row {
        .rooms-info {
            background-color: $color-hotel;
            font-size: 16px;
            font-weight: bold;
            color: white;
            width: 100%;
            height: 150px;
            padding: 30px;
            margin-bottom: 30px;

            .p-info {
                height: 60px;
                text-transform: uppercase;
            }
        }
        .currency {
            margin: 0 auto;
            padding-top: 10px;
            width: 120px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            border-top: 1px solid white;
        }
    }
    .col-md-3:hover {
        img {
            opacity: 1;
        }
        .rooms-info {
            background-color: #f4f4f4;
            color: $color-hotel;
        }
        .currency {
            color: $color-hotel;
            border-top: 1px solid $color-hotel;
        }
    }
}

.history {
        border-bottom: 11px solid #57579d;
    .head-history {
        font-size: 20px;
        line-height: 1.5;
        font-weight: bold;
        color: $color-hotel;
        margin: 30px 0px 60px 0px;
    }
    .container {
        background-color: #f4f4f4;
        padding: 55px 200px;

        .view-text {
            @include view-text;
            font-weight: normal;
            font-size: 20px;
        }
        p {
            font-size: 14px;
            line-height: 1.4;
            font-weight: normal;
            color: #666666;
            margin: 30px 0px;
        }
        p:last-child {
            margin: 20px 0px;
        }
    }
}

.wide {
    padding: 0;
}

} //!rooms
