.todo {
    background-color: white;
    text-shadow: none;

    h1 {
        font-size: 26px;
        font-weight: bold;
        color: $color-hotel;
        text-align: left;
        margin-top: 70px;
    }

    img {
        margin-bottom: 25px;
    }

    p {
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        color: #666666;
        margin: 10px 0px;
    }

    .navbar {
        @include navbar;
    }

    .container-fluid {
        background-color: white;
        border-top: 11px solid $color-hotel;
    }

    .footer {
        @include footer;
    }
}